$fontSize:12px , 14px , 16px, 18px;

.articlelist-component {
  width:63%;
  padding-right:2%;
  border-right: 2px solid #c5c3c3;
  margin-top:20px;
  .title{
    font-size:nth($fontSize, 3);
    color: #000;
    padding: 10px 0;
  }
  .item{
    margin-bottom:30px;
    background: #EEF0F3;
    border-top:4px solid #EEF0F3;
    padding:10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all  0.3s;
    -ms-transition: all  0.3s;
    -o-transition: all  0.3s;
    transition: all  0.3s;
    &:hover{
      border-top-color: #0b97c4;
    }
    .item-link{
      float: left;
      width: 180px;
      height: 145px;
    }
    .info-panel{
      width: 60%;
      float: left;
      margin-left:16px;
      h3{
        color: #262B38;
        line-height:25px;
      }
      p{
        margin-top:5px;
        line-height:20px;
        max-height: 40px;
        &:nth-of-type(2){
          font-size:12px;
        }
      }
    }
  }
}
