.navbar-component {
  width:100%;
  height: 70px;
  background:rgba(0,0,0,.8);
  position: fixed;top:0;
  left:0;

  @at-root .logo{
    width:60px;
    height:60px;
    float: left;
    margin: 0px 0 0 90px;
    overflow: hidden;

  }

  nav{
    float: left;
    margin:18px 0 0 250px;

    a{
      padding: 10px 15px;
      float:left;
      color: #fff;
      border-bottom: 1px solid rgba(255,255,255,0);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      &:hover{
        color: #0073a8;
        border-bottom: 1px solid rgba(255,255,255,1);
      }
    }
  }
  .search-input{

  }
}
