.navbar-component {
  height: 70px;
  background:#fff;

  .logo{
    width:80px;
    height:30px;
    float: left;
    margin: 20px 0 0 90px;
    overflow: hidden;
    background: #0b97c4;
  }

  nav{
    float: left;
    margin:18px 0 0 200px;
    a{
      padding: 10px 15px;
      float:left;
    }
  }
  .search-input{
    height:30px;
    line-height:30px;
    float: left;
    width:200px;
    margin: 20px 0 0 40px;
    border: 3px solid #0b97c4;
    input{
      display: block;
      width:100%;
      height:100%;
      padding: 2px 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

    }
  }
}
